@font-face {
  font-family: '주아체';
  src: url(../font/BMJUA_ttf.ttf);
}
body {
  margin: 0px;
  font-family: '주아체';
}
.container {
  margin: auto;
}


.ani-text {
  /* transform: rotate(30deg);
  transform: translateX(100px);
  transform: scale(0.2); */

  text-align: center;
}



@keyframes animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(100px);
  }
}