body {
  height: 900px;
  background: rgb(249, 245, 245);
  margin: 0;
}
.container {
  width: 1000px;
  height: 900px;
}

.search {
  width: 95%;
  height: 50px;
  background: white;
  z-index: 2;
  float: right;
  margin-left: 0;
}
.search input {
  width: 200px;
  height: 30px;
  margin: 10px;
  margin-left: 30px;
}

.menu {
  height: 100%;
  width: 5%;
  background: rgb(97, 75, 239);
  display: inline
}
.dashboard {
  margin-left: 100px; 
}